@model UserManagerViewModel
@{
    ViewBag.Title = "Home";
}

<link rel="stylesheet" href="~/css/Manager/index.css" asp-append-version="true" />

<h1>User Activity</h1>

<div class="table-container">
    <h2>Users</h2>

    <table id="userTable" class="display">
        <thead>
            <tr>
                <th>User Email</th>
                <th>Person Name</th>
                <th>Age</th>
                <th>Location</th>
                <th>Pets Adopted</th>
                <th>Publications Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationUser user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.PersonName</td>
                    <td>@user.Age</td>
                    <td>@user.Location</td>
                    <td>@user.PetsAdopted</td>
                    <td>@user.PublicationsCreated</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="table-container">
    <h2>Managers</h2>

    <table id="managerTable" class="display">
        <thead>
            <tr>
                <th>Manager Email</th>
                <th>Manager Name</th>
                <th>Publications Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationUser user in Model.Managers)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.PersonName</td>
                    <td>@user.PublicationsCreated</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/Manager/index.js"></script>
}