@model List<Listing>
@{
    ViewBag.Title = "Pets";
}

<link rel="stylesheet" href="~/css/content/PetsCard.css" asp-append-version="true" />
<h1>Our Pets</h1>

<div class="pets-container">
@{
    foreach (Listing listing in Model)
    {
        <div>
        <br />
            <div class="listing-container">
                <h1>@listing.Title</h1>
                <br />
                <div>
                    <img src="@listing.Pet.ImagePath" />
                </div>
                <h3>Name: @listing.Pet.Name; Age: @listing.Pet.Age</h3>
                <h4>@listing.Content</h4>
            </div>
        <br />
        </div>

    }
}
</div>

