@model UserPetPublication
@{
    ViewBag.Title = "Pet listing";
}

<link rel="stylesheet" href="~/css/content/EditForm.css" asp-append-version="true" />
<form method="post" asp-area="User" asp-controller="Adoption" asp-action="AdoptFromUser" asp-route-id="@Model.Id">
    <h1>@Model.PublicationTitle</h1>

    <h2>@Model.Summary</h2>
    <h4>@Model.Description</h4>

    <h2>Name: @Model.PetName</h2>
    <h2>Age: @Model.PetAge</h2>
    <h2>PetType: @Model.PetType.ToString()</h2>

    <button type="submit">Adopt</button>
</form>
