@model IEnumerable<ShelterPetPublication>
@{
    ViewBag.Title = "Pets in need of home";
}

<link rel="stylesheet" href="~/css/Shared/pet_cards.css" asp-append-version="true" />

<div class="card-container">
    @foreach (ShelterPetPublication publication in Model)
    {
        <form method="post" asp-area="User" asp-controller="Home" asp-action="SeeMoreShelterPublication" asp-route-id="@publication.Id">
            <button type="submit" class="">
                <div class="publication">
                    <div class="top-part">
                        <h2>@publication.PetType</h2>
                        <h1>@publication.PublicationTitle</h1>
                    </div>

                    <div class="middle-part">
                        <img src="@publication.Images[0].ImageUrl" />
                        <h3>@publication.Summary</h3>
                        <h3> Location: @publication.Location</h3>
                    </div>
                </div>
            </button>
        </form>
    }
</div>